<?xml version="0.0" ?>
<robot name="tabletop">
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="tray_textured.obj" scale="0.5 0.5 1.0"/>
      </geometry>
      <material name="tray_material">
        <color rgba="0.282352 0.282352 0.282352 1"/>
      </material>
    </visual>
    
    <!--visual>
      <origin rpy="0 0 0" xyz="0 0 0.005"/>
      <geometry>
	 			<box size=".6 .6 .02"/>
      </geometry>
    </visual>
     <visual>
      <origin rpy="0 0.575469961 0" xyz="0.25 0 0.059"/>
      <geometry>
	 			<box size=".02 .6 .3"/>
      </geometry>
    </visual>
    <visual>
      <origin rpy="0 -0.575469961 0" xyz="-0.25 0 0.059"/>
      <geometry>
	 			<box size=".02 .6 .3"/>
      </geometry>
    </visual>
    <visual>
      <origin rpy="0.575469961 0 0" xyz="0 -0.25 0.059"/>
      <geometry>
	 			<box size=".6 .02 .3"/>
      </geometry>
    </visual>
    <visual>
      <origin rpy="-0.575469961 0 0" xyz="0 0.25 0.059"/>
      <geometry>
	 			<box size=".6 .02 .3"/>
      </geometry>
    </visual-->
    
     <collision>
      <origin rpy="0 0 0" xyz="0 0 0.005"/>
      <geometry>
	 			<box size=".6 .6 .02"/>
      </geometry>
    </collision>
     <collision>
      <origin rpy="0 0.35 0" xyz="0.27 0 0.12"/>
      <geometry>
	 			<box size=".02 .6 .3"/>
      </geometry>
    </collision>
		<collision>
      <origin rpy="0 -0.35 0" xyz="-0.27 0 0.12"/>
      <geometry>
	 			<box size=".02 .6 .3"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0.35 0 0" xyz="0 -0.27 0.12"/>
      <geometry>
	 			<box size=".6 .02 .3"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="-0.35 0 0" xyz="0 0.27 0.12"/>
      <geometry>
	 			<box size=".6 .02 .3"/>
      </geometry>
    </collision>

  </link>
</robot>
